<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="os.g.zone.orders.mappers.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="OrderInfo">
            <id property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="orderCreateTime" column="order_create_time" jdbcType="TIMESTAMP"/>
            <result property="orderModifiedTime" column="order_modified_time" jdbcType="TIMESTAMP"/>
            <result property="orderStatus" column="order_status" jdbcType="VARCHAR"/>
            <result property="consumerId" column="consumer_id" jdbcType="INTEGER"/>
            <result property="nextOId" column="next_o_id" jdbcType="INTEGER"/>
            <result property="orderIsDel" column="order_is_del" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,product_id,order_create_time,
        order_modified_time,order_status,consumer_id,
        next_o_id,order_is_del
    </sql>
    <select id="listAllOrdersByPage" resultType="OrderInfoBO" parameterType="OrderInfoPO">
        SELECT <include refid="Base_Column_List"></include>
        FROM order_info
        <where>
            <if test="orderInfoPO.productId != 0 and orderInfoPO.productId != null">
                product_id = #{orderInfoPO.productId}
            </if>
        </where>
    </select>
</mapper>
