<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="os.g.zone.sys.urls.web.mappers.SystemUrlMapper">

    <resultMap id="BaseResultMap" type="os.g.zone.sys.urls.web.pojo.entitys.SystemUrl">
            <id property="urlId" column="url_id" jdbcType="INTEGER"/>
            <result property="urlName" column="url_name" jdbcType="VARCHAR"/>
            <result property="urlLink" column="url_link" jdbcType="VARCHAR"/>
            <result property="urlStatus" column="url_status" jdbcType="INTEGER"/>
            <result property="childId" column="child_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="urlType" column="url_type" jdbcType="INTEGER"/>
            <result property="urlCommonLevel" column="url_common_level" jdbcType="INTEGER"/>
            <result property="urlMatchType" column="url_match_type" jdbcType="INTEGER"/>
            <result property="urlSpecLevel" column="url_spec_level" jdbcType="INTEGER"/>
            <result property="urlIsDel" column="url_is_del" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        url_id,url_name,url_link,
        url_status,child_id,parent_id,
        url_type,url_common_level,url_match_type,
        url_spec_level,url_is_del
    </sql>



    <select id="countByName" resultType="int" >
        SELECT count(*) FROM system_url WHERE url_name=#{url_name}
    </select>

    <select id="getMenuTree" resultMap="ResultTreeMap" parameterType="SystemUrlPO">
        SELECT
            system_url.url_id,system_url.url_name,system_url.url_link,
                system_url.url_type,system_url.parent_id,

            sys_url.url_id ur_id,sys_url.url_name ur_name,sys_url.url_link ur_link,
                sys_url.url_type ur_type,sys_url.parent_id paren_id,

            sy_url.url_id u_id,sy_url.url_name u_name,sy_url.url_link u_link,
                sy_url.url_type u_type,sy_url.parent_id pare_id
        FROM system_url
                 LEFT JOIN  system_url sys_url ON system_url.url_id = sys_url.parent_id
                 LEFT JOIN system_url sy_url ON sys_url.url_id = sy_url.parent_id
        <where>
            <if test="true">
                system_url.parent_id = 0
            </if>
            <if test="urlType != null">
               AND system_url.url_type = #{urlType}
            </if>

        </where>
        ORDER BY system_url.url_id ASC
    </select>



    <resultMap id="ResultTreeMap" type="TreeMenuBO">
        <id column="url_id" property="urlId"/>
        <result column="url_name" property="urlName"/>
        <result column="url_link" property="urlLink"/>
        <result column="parent_id" property="parentId"/>
        <result column="url_type" property="urlType"/>

        <!--使用mybatis  collection 进行集合查询  以下说明：-->
        <collection property="childs" ofType="TreeMenuBO" column="ur_id">
            <id column="ur_id" property="urlId"/>
            <result column="ur_name" property="urlName"/>
            <result column="ur_link" property="urlLink"/>
            <result column="paren_id" property="parentId"/>
            <result column="ur_type" property="urlType"/>
            <!--使用mybatis  collection 进行集合查询  以下说明：-->
            <collection property="childs" ofType="TreeMenuBO" column="u_id">
                <id column="u_id" property="urlId"/>
                <result column="u_name" property="urlName"/>
                <result column="u_link" property="urlLink"/>
                <result column="pare_id" property="parentId"/>
                <result column="u_type" property="urlType"/>
            </collection>
        </collection>
    </resultMap>

</mapper>
