<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="os.g.zone.message.task.web.mappers.MessageTaskInfoMapper">

    <resultMap id="BaseResultMap" type="os.g.zone.message.task.web.pojo.entitys.MessageTaskInfo">
            <id property="taskId" column="task_id" jdbcType="INTEGER"/>
            <result property="uId" column="u_id" jdbcType="INTEGER"/>
            <result property="taskContent" column="task_content" jdbcType="VARCHAR"/>
            <result property="taskCreateTime" column="task_create_time" jdbcType="TIMESTAMP"/>
            <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>
            <result property="taskModifiedTime" column="task_modified_time" jdbcType="TIMESTAMP"/>
            <result property="reciveUList" column="recive_u_list" jdbcType="VARCHAR"/>
            <result property="executeEndTime" column="execute_end_time" jdbcType="TIMESTAMP"/>
            <result property="executeStartTime" column="execute_start_time" jdbcType="TIMESTAMP"/>
            <result property="taskLevel" column="task_level" jdbcType="INTEGER"/>
            <result property="taskExecption" column="task_execption" jdbcType="VARCHAR"/>
            <result property="taskIsDel" column="task_is_del" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id,u_id,task_content,
        task_create_time,task_status,task_modified_time,
        recive_u_list,execute_end_time,execute_start_time,
        task_level,task_execption,task_is_del
    </sql>
</mapper>
